/* MarkdownTab layout */
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 0;
  outline: none;
}

.content {
  flex: 1;
  min-width: 0;
  overflow: auto;
  padding: 24px;
  -webkit-user-select: text;
  user-select: text;
  cursor: text;
}
